.test {
    text-decoration: none;
    color: black;
    font-size: 28px;
    transition-duration: 750ms;
    transition-property: color, background, font-size;
    transition-timing-function: linear;
    border-radius: 25px;
}
.test:hover {
    color: white;
    background-color: black;
    font-size: 56px;
}